body{
    background-color: #0F0F0F;
}

main{
    padding: 50px 100px;
    min-height: 100vh; /* Sørger for, at main fylder hele viewport-højden */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overskrift{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Skubber den bag billedet */
    color:#F8F5EF;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
}

.underoverskrift{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #F8F5EF;
    font-family: "Sen", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size:36px;
    position: absolute;
    z-index: 1;
}

/*.portrait{
    position: relative;
    z-index: 1;
}*/

.portrait img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    /*background-color: black; /* Eller en passende farve */
    color: white;
    padding: 6px 0;
}

.marquee-text {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    font-family: "La Belle Aurore", serif;
    font-weight: 400;
    font-style: normal;
    color:#F8F5EF;
    font-size: 45px;
}

.marquee-container strong{
    color:#F8F5EF;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
}

@keyframes marquee {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}


