body{
    background-color: #0F0F0F;
}

main{
    padding: 50px 100px;
    min-height: 100vh; /* Sørger for, at main fylder hele viewport-højden */
    display: flex;
    flex-direction: column;
    gap:50px;
}

.spacer h1{
    color:#F8F5EF;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.projekt4, .projekt2{
    display: flex;
    align-items: center;
    gap: 50px;
}

.projekt3, .projekt1, .projekt5{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
}

.tekst-cta3, .tekst-cta4, .tekst-cta2, .tekst-cta1, .tekst-cta5{
    display: flex;
    width: 50%;
    gap: 60px;
    align-items: flex-start;
    flex-direction: column;
}

.projekt3-tekst, .projekt4-tekst, .projekt2-tekst, .projekt1-tekst, .projekt5-tekst{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projekt3-tekst h1, .projekt4-tekst h1, .projekt2-tekst h1, .projekt1-tekst h1, .projekt5-tekst h1{
    color:#F8F5EF;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projekt3-tekst p, .projekt4-tekst p, .projekt2-tekst p, .projekt1-tekst p, .projekt5-tekst p{
    color: #F8F5EF;
    font-family: "Sen", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    font-size:24px;
}

.vid-img{
    width: 50%;
}

.video2-container{
    width: 100%;
}

.video2{
    width:100%;
    height: auto;
    max-width: 1440px; /* Sætter den maksimale bredde til 1440px */
    max-height: fit-content;
    /*border-radius: 8px;*/
}

.cta-btns{
    display: flex;
    gap:40px;
}

.cta-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cta-sec p{
    font-family: "La Belle Aurore", serif;
    font-weight: 400;
    font-style: normal;
    color:#F8F5EF;
    font-size: 45px;
    width: 30%;
}

.cta-button{
    background-color: #FC4AAF;
    border-radius: 8px;
    color: #F8F5EF;
    padding: 18px 28px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Sen", serif;
    font-weight: 700;
    transition: transform 0.3s;
    box-shadow: 7px 7px #F8F5EF;
}

.cta-button:hover{
    background-color: #FF95CD;
    /*transform: scale(1.05);*/
}

.cta-button:active {
    background-color: #FF95CD;
    box-shadow: 0 5px #DEFF67;
    transform: translateY(4px);
}

.img-gallery{
    padding-top: 20px;
}

.gallery{
    display: flex;
    align-items: flex-start;
    gap:10px;
}

.gallery img{
    width: 100%;
    /*border-radius: 8px;*/
}
/*div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}*/

/*.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}*/

@media only screen and (max-width: 786px) {
.responsive {
    width: 49.99999%;
    margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
.responsive {
    width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.cta-tekst{
    display: flex;
    font-family: "La Belle Aurore", serif;
    font-weight: 400;
    font-style: normal;
    color:#F8F5EF;
    font-size: 30px;
    width: 100%;
}

/* Media query for mobile screens */
@media only screen and (max-width: 768px) {
    main{
        padding: 50px 70px;
    }

    .spacer h1{
        font-size: 96px;
    }

    .projekt4, .projekt2{
        display: flex;
        flex-direction: column;
    }
    
    .projekt3, .projekt1, .projekt5{
        display: flex;
        flex-direction: column;
    }

    .tekst-cta3, .tekst-cta4, .tekst-cta2, .tekst-cta1, .tekst-cta5{
       width: 100%;
    }
    
    .projekt3-tekst, .projekt4-tekst, .projekt2-tekst, .projekt1-tekst, .projekt5-tekst{
        width: 100%;
    }

    .projekt3-tekst h1, .projekt4-tekst h1, .projekt2-tekst h1, .projekt1-tekst h1, .projekt5-tekst h1{
        font-size: 90px;
    }
    
    .vid-img{
        width: 100%;
    }
}